# Intro to python

In [1]:
x = 100156415641564564564564564564564564564564564564564564564564564566

In [2]:
x*x

10031307594165838967250736150564979393808222637051465880294709123825488502977398984570155741326912498083669254840426011597182768356

In [3]:
y = 140

In [4]:
z = x + y

In [5]:
print(x)

100156415641564564564564564564564564564564564564564564564564564566

In [6]:
print(y)

140

In [7]:
x

100156415641564564564564564564564564564564564564564564564564564566

In [8]:
x_y = x*y

In [9]:
x_neg = -150

In [10]:
x = 5.5 #floating point number
x

5.5

In [11]:
x = 5.00000005

In [12]:
b = True # booleans

In [13]:
b2 = False

In [14]:
my_name = "Felix"

In [15]:
my_last_name = "Stamm"

In [16]:
my_name + " " + my_last_name

'Felix Stamm'

In [17]:
type(x)

float

In [18]:
type(b)

bool

In [19]:
type(my_name)

str

In [20]:
# + 
# -
# * 
# /

In [21]:
x>y

False

In [151]:
"x"*5

'xxxxx'

In [23]:
y

140

In [24]:
x == y

False

In [25]:
x >= y

False

Some relational operators:

| Symbol | Task Performed |
|----|---|
| == | True, if both sides are equal |
| !=  | True, if both sides are not equal |
| < |True, if the left side is smaller |
| > | True, if the left side is greater |
| <=  | True, if the left side is smaller or equal to the right side |
| >=  | True, if the left side is greater or equal to the right side |

In [26]:
s = "1234"

In [27]:
i = int(s)

In [28]:
bool(i)

True

In [29]:
str(4.5*5.5)

'24.75'

In [30]:
int("Felix")

ValueError: invalid literal for int() with base 10: 'Felix'

In [ ]:
len("Felix")

In [ ]:
4 + "hello"

# Data Structures

## List

In [ ]:
l = [1, "b", [1,2,3], True]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[2]

In [ ]:
l[0:3] # the first three elements

In [ ]:
l[:3]

In [ ]:
l[2:4]

In [ ]:
l = [1, "b", [1,2,3], True]

In [ ]:
l[-2:]

In [ ]:
len(l)

In [ ]:
l

In [ ]:
l[1] = 2

In [ ]:
l

In [ ]:
l.append('hello')

In [ ]:
l

In [ ]:
l.insert(3,'hello')

In [ ]:
l

In [ ]:
l.pop(0)

In [ ]:
l

In [ ]:
lol = [[1,2,3], [3,4,5],[123,4]]

# Tuples
Tupels are like lists but immutable

In [152]:
t = (1,4,7,9,)

In [153]:
t

(1, 4, 7, 9)

In [154]:
t[0]

1

In [ ]:
t[0]=5

In [ ]:
t.append(4)

In [155]:
a,b,c,d = t

In [156]:
a

1

In [157]:
b

4

In [158]:
len(t)

4

## Sets

In [31]:
s =  {4,6, 'er', 12}

In [32]:
s

{12, 4, 6, 'er'}

In [33]:
s.add(15)

In [34]:
s

{12, 15, 4, 6, 'er'}

In [35]:
s.add(4) # will only appear once

In [36]:
s

{12, 15, 4, 6, 'er'}

In [38]:
s2 = {1,3,4,5}

In [40]:
s.union(s2)

{1, 12, 15, 3, 4, 5, 6, 'er'}

In [41]:
s.intersection(s2)

{4}

In [42]:
len(s)

5

In [43]:
list(s)

[4, 6, 12, 15, 'er']

In [44]:
set([1,2,34])

{1, 2, 34}

## Dictionaries

In [92]:
age = {"Felix" : 14, "Tom" : 25, "Jane" : 60}

In [48]:
age

{'Felix': 14, 'Tom': 25, 'Jane': 60}

In [53]:
age['Felix']#retrive value for key

14

In [51]:
age["Jerry"] = 40 # add element to dict

In [52]:
age

{'Felix': 14, 'Tom': 25, 'Jane': 60, 'Jerry': 40}

In [54]:
d = {}

In [55]:
d[1] = 3

In [56]:
d

{1: 3}

In [57]:
d = {'key': 14.5, (1,2.3) : "asdasd"}

In [58]:
d

{'key': 14.5, (1, 2.3): 'asdasd'}

In [59]:
len(d)

2

In [62]:
list(age.keys())

['Felix', 'Tom', 'Jane', 'Jerry']

In [63]:
list(age.values())

[14, 25, 60, 40]

In [64]:
list(age.items())

[('Felix', 14), ('Tom', 25), ('Jane', 60), ('Jerry', 40)]

In [66]:
d[(1,3,4)] = 5

# Control statements

In [82]:
my_name= "Chris"

In [83]:
if len(my_name) > 5:
    print(my_name, "is a long name")
    short_version = my_name[:5]
    print(short_version)
else:
    print("I get executed for short names")

I get executed for short names

In [78]:
if len(my_name) > 10:
    print(my_name, "is a very long name")
elif len(my_name) > 5:
    print(my_name, "is a long name")

Christoph is a long name

## Loops

In [86]:
l = [4,5,62,6,]

In [87]:
for element in l:
    print(element)

4
5
62
6

In [89]:
for index in range(len(l)):
    print(l[index])

4
5
62
6

In [90]:
for index, element in enumerate(l):
    print(index, element)

0 4
1 5
2 62
3 6

In [95]:
for person, a in age.items():
    print(person , a)

Felix 14
Tom 25
Jane 60

In [97]:
for person in age.keys():
    print(person)

Felix
Tom
Jane

In [98]:

x = 5

while x < 1000:
    x = x*x

In [99]:
x

390625

# Functions

In [111]:
def square(x):
    return x*x

In [112]:
square(5)

25

In [113]:
square(6)

36

In [114]:
def multiply(x, y):# multiple inputs
    return x*y

In [115]:
multiply(4,6)

24

In [116]:
def get_square_and_cube(x): # multiple outputs
    return x*x, x*x*x

In [117]:
square, cube = get_square_and_cube(3)

In [118]:
square

9

In [119]:
cube

27

In [123]:
def get_power(base, exponent=1):
    return base ** exponent

In [124]:
get_power(exponent = 4, base = 3)

81

In [125]:
get_power(3)

3

# Imports

In [126]:
import antigravity

In [160]:
from statistics import mode # ione specific function

In [128]:
mode([1,3,3,4,4,4])

4

In [162]:
import statistics # package in its original name

In [163]:
statistics.mode([1,1,2])

1

In [164]:
import numpy as np #rename package

In [165]:
np.array([1,2,3])

array([1, 2, 3])

## Exceptions

In [133]:
int("Felix")

ValueError: invalid literal for int() with base 10: 'Felix'

In [136]:
def square2(x):
    
    if x > 100:
        raise ValueError("This value is to large")
    return x*x

In [146]:
x=105
y=10
try:
    y = square2(x)
except ValueError:
    print("Oh there was an error")
finally:
    y = y/2
print(y)

Oh there was an error
5.0

# File Handling

In [147]:
# stupid way
my_file = open("out.txt", "w")
my_file.write("Some text")
my_file.close()

In [148]:
with open("out.txt", "w") as my_file:
    my_file.write("Some_text")

In [150]:
with open("out.txt", "r") as my_file:
    print(my_file.read())

Some_text

Hello World
asdasdas
dadsadasd

# Type hints

In [169]:
from typing import List
def merge(l1 : List, l2 : List) -> List:
    return l1 + l2

In [170]:
merge("123", "456")

'123456'

# Inplace operations

In [177]:
x =4
x =+ 5

In [178]:
x

5

# List comprehension

In [179]:
l1 = [2,3,45,5,]

In [181]:
l_squared  = [x*x for x in l1]

In [182]:
l_squared

[4, 9, 2025, 25]