# Variables and data types

In [33]:
x = x+1
x

3

In [34]:
x=2

In [35]:
print (x)

2

In [36]:
x = "Hello World"
print (x)

Hello World

In [37]:
x = "AAAA"
print(X)

NameError: name 'X' is not defined

In [38]:
print ("Hello")
print ("World")

Hello
World

In [39]:
x = 4

In [40]:
y = "Hello"

In [41]:
x = " World"

In [42]:
type(x)

str

In [43]:
x = 5
y = 2
x > y

True

In [44]:
x

5

Some relational operators:

| Symbol | Task Performed |
|----|---|
| == | True, if both sides are equal |
| !=  | True, if both sides are not equal |
| < |True, if the left side is smaller |
| > | True, if the left side is greater |
| <=  | True, if the left side is smaller or equal to the right side |
| >=  | True, if the left side is greater or equal to the right side |

In [45]:
x = 5
x == 5

True

In [46]:
x = x == 5
x

True

In [48]:
x = 5
x

5

In [49]:
x = x == 5
x

True

In [50]:
print (4+5)
print (x == 10)

9
False

In [51]:
x = "Hello"
y = "World"
print (x + y)

HelloWorld

In [52]:
# Python is strongly typed
x = "5"
y = 2
x+y

TypeError: can only concatenate str (not "int") to str

In [53]:
x ="5"
y = "4"
x+y

'54'

In [54]:
int(x) + int(y)

9

In [55]:
type(x)

str

In [56]:
x = "5"
y = "4"
int(x)+int(y)

9

In [57]:
z = int(x)
z

5

In [58]:
str(z)

'5'

In [59]:
len("jsdnfosdfo")

10

In [60]:
len(54)

TypeError: object of type 'int' has no len()

In [61]:
x = 667765
len(str(x))

6

In [62]:
z = 7587499575674849686930

In [63]:
z_str = str(z)
len(z_str)

22

In [64]:
x = 5
y = "5"
x == y

False

In [65]:
type(y)

str

In [67]:
#type conversion 
int(y) + x

10

| type | description |
|----|---|
| int | integer number |
| float  | floating point number |
| bool | True or False |
| string | text |

We can check the type of a variable with the "type" function.

# Data structures

## Lists

In [ ]:
#creating an empty list
l = []

In [ ]:
# adding elements to the list
l.append (2)
l.append (5)
l.append (10)
l

In [ ]:
l = [2, 5, 10,12,15,16,18]

In [ ]:
l[1]

In [ ]:
# accessing an element
l[-1]

In [ ]:
l [2:5]

In [ ]:
l[2]

In [ ]:
#setting an element 
l[2] = 7.3
l

In [ ]:
#the length of a list:
len (l)

In [68]:
l

[1, 2, 3, 4, 5324, 2, 5, 2, 3, 65, 2]

In [ ]:
lol = [[1,2,3],[4,5,6]]

In [ ]:
lol[0][1]

In [ ]:
?lol

In [ ]:
lol
x = lol.pop()
x

In [ ]:
lol

In [ ]:
#removing an element from the list
print (l.pop())
print (l)
print (len(l))

In [ ]:
# We can also directly specify lists:
# a list with integer objects
list_2 = [3,5,7,9]

# a list of strings
list_3 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

# a list of mixed types
list_4 = [2, 5, "Elephant", 6, 8.2, True]

In [ ]:
# we can also do lists of lists!
lol = [[1,2,3], ["a","b","c"], [1.2,2.3,4.5,6.7,8.9]]

In [ ]:
#the length of a list:
len (lol)

In [ ]:
lol[1][2]

In [ ]:
x = "'c'"
y = '"c"'

In [ ]:
x

## Tuples

Tuples are just the same as lists, but are *immutable*.

In [ ]:
t = (1,2,3)

In [ ]:
t[1]

In [ ]:
t[1] = 5

In [ ]:
t = (1,2,3)

In [ ]:
a,b,c = t

In [ ]:
b

## Sets

Sets are similar collections, but have no order and can contain each element only once

In [ ]:
s = set()
s.add(50)
s.add(20)
s.add(10)
s.add(20)
s

In [ ]:
l = [2,3,4,5,6,2,3,4,5,2]

In [ ]:
s = set()
for x in l:
    s.add(x)
s

In [ ]:
list (set(l))

## Dictionaries

 Python’s built-in mapping type. They map keys, which can be any immutable(unchanchable) type, to values, which can be any type

In [ ]:
d = dict()
d = {}

In [ ]:
presidents_inauguration = {}
presidents_inauguration ['Trump'] = 2017 
presidents_inauguration['Obama'] = 2009
presidents_inauguration['Bush'] = 2001
print(presidents_inauguration)

In [3]:
d = {'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

In [4]:
len(d)

3

In [5]:
# or, shorter:
presidents_inauguration = {'Trump': 2017, 
                           'Obama': 2009, 
                           'Bush': 2001}

In [6]:
presidents_inauguration ["Trump"]

2017

In [7]:
print (presidents_inauguration.keys())
print (presidents_inauguration.values())

dict_keys(['Trump', 'Obama', 'Bush'])
dict_values([2017, 2009, 2001])

In [8]:
len (presidents_inauguration)

3

# Control statements

control flow in Python noticeable does not use ANY (,),[,],{,},...
Instead *indendation* determines what belongs to block of commands

## If-elif-else

In [9]:
x = 1
if x > 5:
    print ('This is a big number!')

In [10]:
#Note the difference
x = 0
y = 0
if x > 5:
    x = x + 1
    y = y + 1
print (y)

x = 0
y = 0
if x > 5:
    x = x + 1
y = y + 1
print (y)

0
1

In [11]:
x = 15
if x > 20:
    print ('This is a very big number!')
elif x > 10:
    print ('This is a big number!')
else:
    print ('this is a small number!')

This is a big number!

In [12]:
x = 10
command = 'increment'
if command =='increment':
    x = x + 1
print (x)

11

## Loops

In [13]:
first_names = ['John', 'Paul', 'George', 'Ringo']
for name in first_names:
    print("Hello " + name + "!")

Hello John!
Hello Paul!
Hello George!
Hello Ringo!

Contrary to many other programming languages there is no built-in for... counting loop.
However, you can use the range function:

In [14]:
for x in range(10,25,5):
    print (x)

10
15
20

In [15]:
list (range(10,20,3))

[10, 13, 16, 19]

In [16]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [17]:
# enumerate is a useful convenience functions:
for index, name in enumerate (first_names):
    print("Name "+ str(index) + ": " + name)

Name 0: John
Name 1: Paul
Name 2: George
Name 3: Ringo

In [18]:
# We can loop over any iterable, e.g., also on strings
x = "example"
for letter in x:
    print (letter)

e
x
a
m
p
l
e

In [19]:
# As a simple example, lets create a dictionary, which maps each string in a list to its name:
name_lengths = {}
for name in first_names:
    name_lengths [name] = len (name)
name_lengths

{'John': 4, 'Paul': 4, 'George': 6, 'Ringo': 5}

In [20]:
# while loops functions very similar to many popular languages:
x = 1
while x < 100:
    x = x * 2
    print(x)

2
4
8
16
32
64
128

# Functions

Defining your own functions is easy:

In [21]:
l = [1,2,3,4,5324,2,5,2,3,65,2]
len(l)

11

In [22]:
def print_all_names(names):
    for x in names:
        print (x)

In [23]:
print_all_names(l)

1
2
3
4
5324
2
5
2
3
65
2

In [24]:
def increment_function(x):
    return (x, x+1)

In [25]:
increment_function(5)

(5, 6)

In [26]:
old, new = increment_function(5)
print(old)
print(new)

5
6

In [27]:
# You can call a function using its parameters names
def my_division (nominator,denominator):
    return nominator / denominator

print (my_division(12,4))
print (my_division(denominator=4, nominator=16))

3.0
4.0

In [28]:
# You can also specify default parameters for a function

In [29]:
def my_division (nominator,denominator = 2):
    return nominator / denominator

print (my_division(12,3))

4.0

In [30]:
my_division(12)

6.0

In [31]:
# n
y = 5
x = 2
def increment_value (x):
    y = x + 1
    return y
increment_value(3)
y

5

In [32]:
# But: you can use (but not necessarily should) use other variables defined beforehands
x = 2
y = 10
def increment_value (x):
    return x + z
increment_value (2)

NameError: name 'z' is not defined

Lambda functions are a concise way of defining functions, e.g.:

In [ ]:
f = lambda x: x*5 + 1
f(10)

In [ ]:
def f2 (x):
    return x*5+1

In [ ]:
type(f)

# Imports

Python has a lot of built-in packages you can use, or you can download and install more packages from the internet.
Using such packages is easy:

In [ ]:
import antigravity

In [ ]:
import statistics

statistics.mean([3,5,7,9])

In [ ]:
# you can also import just single functions from a package
from math import log
log (2.71 * 2.72)

# List Comprehension

In [ ]:
my_list = [2,6,5,4,66,9,100,55,4,6,4,2]

l2 = [2*x for x in my_list]
l2

In [ ]:
l3 = []
for x in my_list:
    l3.append(2*x)
l3

In [ ]:
my_list = [2,6,5,4,66,9,100,55,4,6,4,2]

new_list = [len(str(x)) for x in my_list if x > 20]
new_list

In [ ]:
nl = []
for x in my_list:
    if x > 20:
        nl.append(x*2)
nl

# Exceptions

In [ ]:
def to_int (x):
    return int(x)

In [ ]:
to_int("5")

In [ ]:
to_int("5.5")

In [ ]:
def to_int_safe (x):
    try:
        z = int (x)
    except:
        print ("We cannot convert everything like this!")
        z = -1
    return z

In [ ]:
to_int_safe("5.5")

# File Handling

In [ ]:
with open("filename", "r") as f: #r ==> open for reading
    for line in f:
        print (line)

In [ ]:
#better:
with open("/Users/lemmerich/sciebo/_RWTH-teaching/_RWTH-SS2018/python/data/helloworld.txt", "r") as f: #r ==> open for reading
    for line in f:
        print (line.strip())

In [ ]:
my_list = ["a", "bc", "de"]

In [ ]:
with open("fienae.txt", "wb") as f: #r ==> open for writing
    for element in my_list:
        f.write (element + "\n")

In [ ]:
with open("/Users/lemmerich/sciebo/_RWTH-teaching/_RWTH-SS2018/python/data/helloworld2.txt", "a") as f: #a ==> for appending
    f.write ("This line gets appended separately.\n")